.font-family {
  font-family: "Open sans", sans-serif; /* Here manage font of widget */
}

@layer base { :root {
  --primaryColor: #163656;
  --secondaryColor: #f8852c;
  --backgroundColor: #ffffff;
  --textColor: #122a46;
  --detailColor: #e5e7eb; /* Manage color of border dashed, the line separator ecc..  */
}}