:root {
    --ue-color-base-white: 255 255 255;
    --ue-color-base-black: 0 0 0;
    --ue-color-base-light: 247 247 247;
    --ue-color-base-dark: 16 34 51;
    --ue-color-base-ethica: 77 176 91;
    --ue-color-brand-primary-light: 87 149 204;
    --ue-color-brand-primary-dark: 16 50 104;
    --ue-color-brand-secondary: 239 155 53;
    --ue-color-primary-50: 242 248 252;
    --ue-color-primary-100: 226 238 247;
    --ue-color-primary-200: 204 226 241;
    --ue-color-primary-300: 169 207 231;
    --ue-color-primary-400: 128 182 218;
    --ue-color-primary-500: 87 149 204;
    --ue-color-primary-600: 78 131 194;
    --ue-color-primary-700: 68 112 177;
    --ue-color-primary-800: 60 93 145;
    --ue-color-primary-900: 52 79 116;
    --ue-color-primary-950: 36 49 71;
    --ue-color-secondary-50: 237 249 255;
    --ue-color-secondary-100: 214 239 255;
    --ue-color-secondary-200: 182 229 255;
    --ue-color-secondary-300: 132 215 255;
    --ue-color-secondary-400: 74 191 255;
    --ue-color-secondary-500: 32 159 255;
    --ue-color-secondary-600: 9 127 255;
    --ue-color-secondary-700: 2 103 243;
    --ue-color-secondary-800: 9 82 196;
    --ue-color-secondary-900: 15 73 153;
    --ue-color-secondary-950: 16 50 104;
    --ue-color-tertiary-50: 254 247 236;
    --ue-color-tertiary-100: 251 233 202;
    --ue-color-tertiary-200: 246 209 145;
    --ue-color-tertiary-300: 242 179 87;
    --ue-color-tertiary-400: 239 155 53;
    --ue-color-tertiary-500: 232 119 24;
    --ue-color-tertiary-600: 205 86 18;
    --ue-color-tertiary-700: 170 58 19;
    --ue-color-tertiary-800: 138 46 22;
    --ue-color-tertiary-900: 114 39 21;
    --ue-color-tertiary-950: 65 17 7;
    --ue-color-green-50: 242 251 242;
    --ue-color-green-100: 225 248 224;
    --ue-color-green-200: 197 239 195;
    --ue-color-green-300: 150 225 148;
    --ue-color-green-400: 95 203 93;
    --ue-color-green-500: 56 172 54;
    --ue-color-green-600: 41 145 40;
    --ue-color-green-700: 35 114 35;
    --ue-color-green-800: 33 91 32;
    --ue-color-green-900: 28 75 29;
    --ue-color-green-950: 10 41 11;
    --ue-color-neutral-50: 246 247 249;
    --ue-color-neutral-100: 237 238 241;
    --ue-color-neutral-200: 214 218 225;
    --ue-color-neutral-300: 179 186 198;
    --ue-color-neutral-400: 137 149 167;
    --ue-color-neutral-500: 107 120 140;
    --ue-color-neutral-600: 86 96 115;
    --ue-color-neutral-700: 70 78 94;
    --ue-color-neutral-800: 60 67 80;
    --ue-color-neutral-900: 54 59 69;
    --ue-color-neutral-950: 36 38 45;
    --ue-font-family-primary: "Nunito Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ue-font-family-secondary: "Studio Gothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ue-line-height-100: 1;
    --ue-line-height-110: 1.1;
    --ue-line-height-120: 1.2;
    --ue-line-height-130: 1.3;
    --ue-line-height-140: 1.4;
    --ue-line-height-150: 1.5;
    --ue-line-height-160: 1.6;
    --ue-line-height-175: 1.75;
    --ue-line-height-180: 1.8;
    --ue-line-height-200: 2
}